h1 {
    color: red;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.textView {
    width: 800px;
    border: 1px solid black;
    margin: 0 auto;
}
.name {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

.buttons {
    padding: 2%;
    width: 50%;
    margin: 0 auto;
}

.buttons>* {
    font-size: 2em;
    white-space: nowrap;
}

.nextButton {
    float: right;
}

.prevButton {
    float: left;
}
