h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.textView {
    width: 80%;
    border: 1px solid black;
    margin: 0 auto;
    padding: 1%;
}
.name {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: underline;
}

.buttons {
    padding: 2%;
    width: 50%;
    margin: 0 auto;
}

.buttons>* {
    font-size: 2em;
    white-space: nowrap;
    background-color: pink;
}

.nextButton {
    float: right;
}

.prevButton {
    float: left;
}

@media screen and (max-width: 1000px) {
  .buttons>* {
      font-size: 1em;
    }
}
